# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\IG2I-kahoot-rework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
